@import url("fonts.css");

$turquoise: rgb(116, 223, 208);

.grid {
  margin: auto; 
  // max-width: 1128px; 
}

.main__image { 
  /* The image used */
  background-image: url("../img/christmas.jpg");

  /* Set a specific height */
  height: 900px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
  // padding-bottom: 250px;
}

h1.main__text_header {
  font-family: 'PlayFairDisplay-Regular';
  color: white;
}

a.main__text_link {
    text-decoration-color: $turquoise !important; 
    text-decoration: none;
    border-bottom: 1px solid $turquoise;
    color: white;
    font-family: 'Roboto-Light';
    font-size: 15px;
}

a.main__text_link:hover {
    cursor: pointer;
}

.main__news-bar {
  display: flex;
  width: 100%;
  padding: 10px;
  margin-top: 70px;
  background-color: rgba(0,0,0,0.3);
  // background-color: rgb(0,0,0);
}

.main__news-bar_block {
  padding: 20px;
  width: 25%;
  display: flex;
  align-items: center;
}

.main__news-bar_block:last-of-type {
  padding-left: 10px;
}

.main__news-bar_block:first-of-type  {
  // border-bottom: 5px solid $turquoise;
}

p.main__news-bar_text {
  padding-left: 20px;
  display: inline-block;
  color: white !important;
  font-family: 'Roboto-Italic';
}

.main__news-bar_img {
  display: inline-block;

}

