@media (min-width: 1200px) { 
    .grid { 
        max-width: 1500px; 
    } 
} 


@media (max-width: 1170px) { 
    .grid { 
        max-width: 840px; 
    } 
} 

@media (max-width: 870px) { 
    .grid { 
        padding-left: 20px; 
        padding-right: 20px; 
    }

    .navbar__menu__item {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .navbar__menu__item {
        font-size: 10px;
    }

    h2.navbar__search__header__title-logo {
        font-size: 24px;
    }

    i.navbar__search__header__icon {
        font-size: 24px;
    }
}

@media (max-width: 648px) {
    .navbar__menu {
        display: none;
    }

    .navbar {
        background: #1e1e1e;
    }
}

@media (min-width: 649px) {
    .navbar__humburger {
        display: none;   
    }
}