<div>
    <footer class="footer">
        <div class="grid">
            <div class="footer__main">
                <div class="footer__main_block">
                    <div class="row">
                        <h1 class="footer__main_title-logo">LOGO</h1>
                    </div>
                    <div class="row">
                        <p class="footer__main_subtitle-text">Пожалуй, наиболее изолированно
                            <br> развивавшаяся островная древняя культура
                            <br> Японии породила современное общество с
                            <br> уникальными ценностями, традициями и
                            <br> обычаями.
                        </p>
                    </div>
                    <div class="footer__menu__block_row-mobile row">
                    <div class="footer__menu__block">
                        <div class="footer__menu">
                            <h4 class="footer__menu_header">МЕНЮ</h4>
                            <div class="footer__menu_list">
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                            </div>
                        </div>
                    </div>

                    <div class="footer__menu__block">
                        <div class="footer__menu">
                            <h4 class="footer__menu_header">МЕНЮ</h4>
                            <div class="footer__menu_list">
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                            </div>
                        </div>
                    </div>

                    <div class="footer__menu__block">
                        <div class="footer__menu">
                            <h4 class="footer__menu_header">МЕНЮ</h4>
                            <div class="footer__menu_list">
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                            </div>
                        </div>
                    </div>

                    <div class="footer__menu__block">
                        <div class="footer__menu">
                            <h4 class="footer__menu_header">МЕНЮ</h4>
                            <div class="footer__menu_list">
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="footer__menu__block_row">
                    <div class="footer__menu__block">
                        <div class="footer__menu">
                            <h4 class="footer__menu_header">МЕНЮ</h4>
                            <div class="footer__menu_list">
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                            </div>
                        </div>
                    </div>

                    <div class="footer__menu__block">
                        <div class="footer__menu">
                            <h4 class="footer__menu_header">МЕНЮ</h4>
                            <div class="footer__menu_list">
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                            </div>
                        </div>
                    </div>

                    <div class="footer__menu__block">
                        <div class="footer__menu">
                            <h4 class="footer__menu_header">МЕНЮ</h4>
                            <div class="footer__menu_list">
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                            </div>
                        </div>
                    </div>

                    <div class="footer__menu__block">
                        <div class="footer__menu">
                            <h4 class="footer__menu_header">МЕНЮ</h4>
                            <div class="footer__menu_list">
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                                <a class="footer__menu_list-item">Подменю</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="footer__about_row">
                <p class="footer__about_row-copyright">Copyright 2018 Все права защищены</p>
                <span class="footer__about_row-authors">Разработано в
                    <a href="https://ya.ru" class="footer__about_row-authors">DOITNOW</a>
                </span>
            </div>
        </div>
    </footer>
</div>