@media (min-width: 1400px) { 
    .grid { 
        max-width: 1500px; 
    }
    .cards-row {
        max-width: 1080px;
    } 
} 

@media (min-width: 1170px) { 
    .cards-row {
        max-width: 1080px;
    } 
} 


@media (max-width: 1170px) { 
    .grid { 
        max-width: 840px; 
    }
    .cards-row {
        max-width: 720px;
    }
    .main__card-block{
        margin-top: -50px;
    }
    .main__news-bar_block {
        min-width: 280px;
    }

    .main__news-bar {
        max-width: 900px;
    }
} 

@media (max-width: 870px) { 
    .grid { 
        padding-left: 10px; 
        padding-right: 10px; 
    }


    .navbar__menu__item {
        font-size: 12px;
    }

    .main__news-bar_block:nth-last-of-type(1) {
        display:none;
    }

    .main__news-bar_block:nth-last-of-type(2) {
        display:none;
    }
}

@media (max-width: 768px) {

    .grid_no-margin {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .navbar__menu__item {
        font-size: 10px;
    }

    h2.navbar__search__header__title-logo {
        font-size: 24px;
    }

    i.navbar__search__header__icon {
        font-size: 24px;
    }
}

@media (max-width: 714px) {
    .footer__main {
        padding-right: 0px;
    }

    .footer__menu__block_row-mobile.row {
        display: flex;
        justify-content: center;
    }

    .footer__menu__block_row {
        max-width: 250px;
      }
}

@media (max-width: 648px) {
    .navbar__menu {
        display: none;
    }

    .navbar {
        background: #1e1e1e;
    }
    h1.main__text_header.title {
        font-size: 35px;
        letter-spacing: -2px;
    }

    .footer__menu__block_row-mobile {
        display: flex;
        flex-direction: row !important;
    }

    .footer__menu__block_row {
        display: none;
    }

    h4.footer__menu_header {
        margin-top: 25px;
        margin-bottom: 0px;
    }
}

@media (min-width: 649px) {
    .navbar__humburger {
        display: none;   
    }
}

@media (min-width: 320px) {
    .main__image {
        padding: 0px 0px 50px 0px;
        justify-content: center;
    }

    .footer__menu__block_row-mobile {
        max-width: 300px !important;
        padding-right: 0px;
        flex-wrap: wrap;
    }

    .footer__main_block {
        padding-right: 0px;
    }

    h1.footer__main_title-logo {
        font-size: 40px;
    }
    p.footer__main_subtitle-text{
        font-size: 13px;
    }
}
